@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
	--my-Yellow: #FFCB05;
	--my-Blue: #00274C;
}

html, body {
	overflow-x: hidden;
}

* {
	padding: 0;
	margin: 0;
	display: border-box;
	font-family: Poppins, sans-serif;
}

a {
	text-decoration: none;
	color: var(--my-Blue);
}

/* NAVIGATION BAR */

#logo {
	width: 136px;
	height: auto;
	margin-top: -20px;
	margin-right: auto;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: space-around;
	position: fixed;
	top: 0;
	width: 100%;
}

/* .navbar-icons, header, img {
	border: solid;
} */

.navbar-icons {
	height: 100%;
	margin: auto 0;
	margin-right: 20px;
	padding: 10px;
}

.nav-tab  {
	padding: 0px 20px;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	transition: all 0.3s ease-in;
}

.nav-tab:hover {
	color: orangered;
	cursor: pointer;
}